<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавление паспорта</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Passport System</title>
    <meta name="viewport" content= "width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">
    <form action="#" th:action="@{/addContactForm}" th:object="${contact}"  method="post">
        <div class="col-md-8">
            <h2>Паспорт сотрудника</h2>
            <div style="float:right">
                <p th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}">adress Error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Адрес</span>
                <p> <input type="text" th:field="*{adress}" class="form-control rightheight" /></p>
            </div>
            <div style="float:right">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">inn Error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Электронная почта</span>
                <p> <input type="text" th:field="*{email}" class="form-control rightheight" /></p>
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('workNumber')}" th:errors="*{workNumber}">inn Error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Рабочий номер телефона</span>
                <p> <input type="text" th:field="*{workNumber}" class="form-control rightheight" /></p>
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('privateNumber')}" th:errors="*{privateNumber}">inn Error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Личный номер телефона</span>
                <p> <input type="text" th:field="*{privateNumber}" class="form-control rightheight" /></p>
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('homeNumber')}" th:errors="*{homeNumber}">inn Error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Домашний номер телефона</span>
                <p> <input type="text" th:field="*{homeNumber}" class="form-control rightheight" /></p>
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('skypeAccount')}" th:errors="*{skypeAccount}">inn Error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Скайп</span>
                <p> <input type="text" th:field="*{skypeAccount}" class="form-control rightheight" /></p>
            </div>
            <div style="float:right">
                <p th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}">employee Error</p>
            </div>
            <div class="input-group input-group-lg padbot20" >
                <span class="input-group-addon">ФИО сотрудника</span>
                <p>
                    <select  class="form-control rightheight" th:field="*{employee}">

                        <option th:each="emp : ${employee}"
                                th:value="${emp.id}"
                                th:text="${emp.surname} + ' '  + ${emp.name}  + ' ' + ${emp.fatherName}"
                                th:selected="${emp.id}"></option>
                    </select>
                </p>
            </div>




            <div class="fixed-right padbot20">
                <button class="btn btn-primary btn-block" type="submit">Добавить
                    контакты</button>
            </div>

        </div>
    </form>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>