<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавление нового сертификата</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>HRM System</title>
    <meta name="viewport" content= "width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">
    <form action="#" th:action="@{/addCertificateForm/{id}(id=${employee.id})}"  method="post">
        <div class="col-md-8">
            <h2>Данные сотрудника</h2>
            <div style="float:right">
                <p th:if="${#fields.hasErrors('certificate.diplomTitle')}" th:errors="*{certificate.diplomTitle}">certificate.diplomTitle error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Название</span>
                <p><input type="text" th:field="*{certificate.diplomTitle}" class="form-control rightheight"/></p>
            </div>
            <div style="float:right">
                <p  th:if="${#fields.hasErrors('certificate.fromDate')}" th:errors="*{certificate.fromDate}">certificate.fromDate error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Дата получения</span>
                <p><input type="date" th:field="*{certificate.fromDate}" class="form-control rightheight"/></p>
            </div>
            <div style="float:right">
                <p   th:if="${#fields.hasErrors('certificate.untilDate')}" th:errors="*{certificate.untilDate}">certificate.untilDate error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Дата окончания</span>
                <p><input type="date" th:field="*{certificate.untilDate}" class="form-control rightheight"/></p>
            </div>



            <div class="fixed-right padbot20">
                <button class="btn btn-primary btn-block" type="submit">Добавить сертификат
                </button>
            </div>
        </div>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>