<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавление новой компетенции</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>HRM System</title>
    <meta name="viewport" content="width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">
    <form action="#" th:action="@{/competence/addForm}" th:object="${competence}" method="post">
        <div class="col-md-8">
            <h2>Данные компетенции</h2>
            <div style="float:right">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Название</span>
                <p><input type="text" th:field="*{name}" class="form-control rightheight"/></p>
            </div>
            <div style="float:right">
                <p  th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Описание</span>
                <p><input type="text" th:field="*{description}" class="form-control rightheight"/></p>
            </div>
            <div style="float:right">
                <p   th:if="${#fields.hasErrors('validationPeriod')}" th:errors="*{validationPeriod}">validationPeriod error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Срок действия</span>
                <p><input type="text" th:field="*{validationPeriod}" class="form-control rightheight"/></p>
            </div>


            <div class="fixed-right padbot20">
                <button class="btn btn-primary btn-block" type="submit">Добавить компетенции
                </button>
            </div>
        </div>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>