<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Добавление нового сотрудника</title>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

	<meta name="viewport" content= "width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">
	<form action="#" th:action="@{/addEmployeeForm}" th:object="${employee}"  method="post">
		<div class="col-md-8">
			<h2>Данные сотрудника</h2>
			<div style="float:right">
				<p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</p>
			</div>
			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Фамилия</span>
				<p> <input type="text" th:field="*{surname}" class="form-control rightheight"/></p>
			</div>
			<div style="float:right">
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
			</div>

			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Имя</span>
				<p> <input type="text" th:field="*{name}" class="form-control rightheight"/></p>

			</div>

			<div style="float:right">
				<p th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}">FatherName Error</p>
			</div>
			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Отчество</span>
				<p> <input type="text" th:field="*{fatherName}" class="form-control rightheight"/></p>

			</div>

			<div style="float:right">
				<p th:if="${#fields.hasErrors('department')}" th:errors="*{department}">Department Error</p>
			</div>
			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Отдел</span>
				<p>
					<select  class="form-control rightheight" th:field="*{department}">
						<option value="">Выберите отдел</option>
						<option th:each="dep : ${department}"
								th:value="${dep.id}"
								th:text="${dep.name}"></option>
					</select>
				</p>
			</div>



			<div style="float:right">
				<p th:if="${#fields.hasErrors('position')}" th:errors="*{position}">position Error</p>
			</div>
			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Должность</span>
				<p>
					<select class="form-control rightheight" th:field="*{position}">
						<option value="">Выберите должность</option>
						<option th:each="pos : ${position}"
								th:value="${pos.id}"
								th:text="${pos.positionTitle}"></option>
					</select>
				</p>
			</div>


			<div style="float:right">
				<p th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}">Birthdate Error</p>
			</div>

			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Дата рождения</span>
				<p> <input type="date" th:field="*{birthdate}" class="form-control rightheight" /></p>

			</div>
			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Пол</span>
				<div class="pad10">
					<div class="radio-inline ">
						<label><input type="radio"
									  th:field="*{gender}" value="true"/>муж</label>
					</div>

					<div style="float:right">
						<p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Gender Error</p>
					</div>
					<div class="radio-inline">
						<label><input type="radio"
									  th:field="*{gender}" value="false"/>жен</label>

					</div>
				</div>
			</div>


			<div style="float:right">
				<p th:if="${#fields.hasErrors('familyStatus')}" th:errors="*{familyStatus}">familyStatus Error</p>
			</div>
			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Семейное положение</span>
				<p>
					<select class="form-control rightheight" th:field="*{familyStatus}">
						<option value="">Семейное положение</option>
						<option th:each="status : ${familyStatus}"
								th:value="${status.name()}"
								th:text="${status.getDisplayName()}"></option>
					</select>
				</p>
			</div>

			<div style="float:right">
				<p th:if="${#fields.hasErrors('militaryStatus')}" th:errors="*{militaryStatus}">militaryStatus Error</p>
			</div>
			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Статус воинской службы</span>
				<div class="pad10">
					<div class="radio-inline ">
						<label><input type="radio"
									  th:field="*{militaryStatus}" value="true"/>годен</label>
					</div>
					<div class="radio-inline">
						<label><input type="radio"
									  th:field="*{militaryStatus}" value="false"/>не годен</label>
					</div>
				</div>

			</div>



			<div class="fixed-right padbot20 ">
				<a th:href="@{/uploadFileForm}">Добавить фото</a>
				<button class="btn btn-primary btn-block" type="submit">Добавить
					сотрудника</button>
			</div>

		</div>
	</form>
</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>