<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавление нового сотрудника</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>HRM System</title>
    <meta name="viewport" content="width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">
    <form action="#" method="post">
        <div class="col-md-8">
            <h2>Данные о семье</h2>

            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Фамилия</span>
                <p><input type="text" th:field="*{family.surname}" class="form-control rightheight"/></p>
            </div>


            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Имя</span>
                <p><input type="text" th:field="*{family.name}" class="form-control rightheight"/></p>

            </div>


            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Отчество</span>
                <p><input type="text" th:field="*{family.fatherName}" class="form-control rightheight"/></p>

            </div>


            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Дата рождения</span>
                <p><input type="date" th:field="*{family.birthdate}" class="form-control rightheight"/></p>

            </div>


            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Кем является?</span>
                <p>
                    <select class="form-control rightheight" th:field="*{family.status}">
                        <option value="">Кем является?</option>
                        <option th:each="member : ${familyMember}"
                                th:value="${member.name()}"
                                th:text="${member.getDisplayName()}"></option>
                    </select>
                </p>
            </div>
            <!--            <div class="input-group input-group-lg padbot20" >-->
            <!--                <span class="input-group-addon">ФИО сотрудника</span>-->
            <!--                <p>-->
            <!--                    <select  class="form-control" th:field="*{employee}">-->

            <!--                        <option th:each="emp : ${employee}"-->
            <!--                                th:value="${emp.id}"-->
            <!--                                th:text="${emp.surname} + ' '  + ${emp.name}  + ' ' + ${emp.fatherName}"-->
            <!--                                th:selected="${emp.id}"></option>-->
            <!--                    </select>-->
            <!--                </p>-->
            <!--            </div>-->

            <div class="fixed-right padbot20">
                <button class="btn btn-primary btn-block" type="submit">Добавить
                    члена семьи
                </button>
            </div>


        </div>

    </form>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>