<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавление новой позиции</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <meta name="viewport" content= "width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">
    <form action="#" th:action="@{/position/addForm}" th:object="${position}" method="post">
        <div class="col-md-8">
            <h2>Данные позиции</h2>
            <div style="float:right">
                <p th:if="${#fields.hasErrors('positionTitle')}" th:errors="*{positionTitle}">positionTitle error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Название позиции</span>
                <p><input type="text" th:field="*{positionTitle}" class="form-control rightheight"/></p>
            </div>
            <div class="tab-pane">
                <table class="table table-hover">
                    <thead>
                    <tr class="info">
                        <th>Компетенции</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="competence : ${competences}">
                        <td><input type="checkbox" th:field="*{competences}" th:value="${competence.id}"/>
                            <label th:text="${competence.name}"></label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="fixed-right padbot20">
                <button class="btn btn-primary btn-block" type="submit">Добавить позиции
                </button>
            </div>
        </div>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>