<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавление паспорта</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Passport System</title>
    <meta name="viewport" content= "width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">
    <form action="#" th:action="@{/addPassportForm}" th:object="${passport}"  method="post">
        <div class="col-md-8">
            <h2>Паспорт сотрудника</h2>
            <div style="float:right">
                <p th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}">passportNumber Error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Паспортный номер</span>
                <p> <input type="text" th:field="*{passportNumber}" class="form-control rightheight" /></p>
            </div>
            <div style="float:right">
                <p th:if="${#fields.hasErrors('inn')}" th:errors="*{inn}">inn Error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">ИНН</span>
                <p> <input type="text" th:field="*{inn}" class="form-control rightheight" /></p>
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('issuedDate')}" th:errors="*{issuedDate}">issuedDate Error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Дата выдачи</span>
                <p> <input type="date" th:field="*{issuedDate}" class="form-control rightheight" /></p>
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('expiryDate')}" th:errors="*{expiryDate}">expiryDate Error</p>
            </div>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Дата окончания</span>
                <p> <input type="date" th:field="*{expiryDate}" class="form-control rightheight" /></p>
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}">employee Error</p>
            </div>
            <div class="input-group input-group-lg padbot20" >
                <span class="input-group-addon">ФИО сотрудника</span>
                <p>
                    <select  class="form-control rightheight" th:field="*{employee}">

                        <option th:each="emp : ${employee}"
                                th:value="${emp.id}"
                                th:text="${emp.surname} + ' '  + ${emp.name}  + ' ' + ${emp.fatherName}"
                                th:selected="${emp.id}"></option>
                    </select>
                </p>
            </div>




            <div class="fixed-right padbot20">
                <button class="btn btn-primary btn-block" type="submit">Добавить
                    паспорт</button>
            </div>

        </div>
    </form>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>
</html>