<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Сертификаты сотрудника</title>
    <meta charset="UTF-8" name="viewport" content= "width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">
    <ul class="nav nav-tabs pad5 margbot15">
        <li><a class="active"
               th:href="@{|/employee/commonInfo/${employee.id}|}">
            Общие сведение</a></li>
        <li><a th:href="@{|/employee/passportInfo/${employee.id}|}">Паспортные данные</a></li>
        <li><a th:href="@{|/employee/contactInfo/${employee.id}|}">Контактные данные</a></li>
        <li><a th:href="@{|/employee/familyInfo/${employee.id}|}">Данные о семье</a></li>
        <li><a th:href="@{|/employee/certificateInfo/${employee.id}|}">Сертификаты</a></li>
        <li><a th:href="@{|/employee/competenceInfo/${employee.id}|}">Компетенции</a></li>
    </ul>
    <div class="col-md-12">

        <div class="table table-hover">

        <div class="container-fluid">
            <h2>Сертификаты</h2>
                <table class="table table-hover">
                    <thead>
                        <tr class="info">
                            <th>Название</th>
                            <th>Дата</th>
                            <th>Срок действия</th>
                        </tr>
                    </thead>
                        <tbody>
                        <tr th:if="${certificate.isEmpty()}">
                            <td colspan="2"> Сертификатов нет </td>
                        </tr>
                        <tr th:each="cert : ${certificate}">
                            <td th:text="${cert.diplomTitle}"></td>
                            <td th:text="${cert.fromDate}"></td>
                            <td th:text="${cert.untilDate}"></td>
                        </tr>
                        </tbody>
                </table>
        </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>