<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Поиск сотрудника</title>
    <meta name="viewport" content="width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">
    <div class="col-md-7">

        <table class="table table-striped table-responsive-md">
            <thead>
            <h2>Перечень документов</h2>
            </thead>
            <tbody>
            <tr th:each="doc : ${documents}">
                <td th:text="${doc}"></td>
                <td>
                    <a th:href="@{'/check-up?docName='+${doc}}"
                       class="btn btn-primary" th:onclick="|addDocument()|">
                        Добавить
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <table class="table table-striped table-responsive-md">
            <thead>
            <h2>Выбранные документы <a th:href="@{'/print'}" style="float: right"><i
                    class="glyphicon glyphicon-print"></i></a></h2>
            </thead>
            <tbody>
            <tr th:each="sel : ${selected_docs}">
                <td th:text="${sel}"></td>
                <td>
                    <a th:href="@{'/check-del?docName='+${sel}}"
                       class="btn btn-secondary">
                        Убрать
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>