<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Сведение о сотруднике</title>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

	<title>HRM System</title>
	<meta name="viewport" content= "width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">
	<ul class="nav nav-tabs pad5 margbot15">
		<li><a class="active" th:href="@{|/employee/commonInfo/${employee.id}|}">
			Общие сведение</a></li>
		<li><a th:href="@{|/employee/passportInfo/${employee.id}|}">
			Паспортные данные</a></li>
		<li><a th:href="@{|/employee/contactInfo/${employee.id}|}">
			Контактные данные</a></li>
		<li><a th:href="@{|/employee/familyInfo/${employee.id}|}">
			Данные о семье</a></li>
		<li><a th:href="@{|/employee/certificateInfo/${employee.id}|}">
			Сертификаты</a></li>
		<li><a th:href="@{|/employee/competenceInfo/${employee.id}|}">
			Компетенции</a></li>
	</ul>

	<div class="col-md-8">
		<div class="input-group input-group-lg padbot20">
			<span class="input-group-addon">Отдел</span><p th:text="${employee.department.name}"
														 class="form-control rightheight" />
		</div>
		<div class="input-group input-group-lg padbot20">
			<span class="input-group-addon">Должность</span><p th:text="${employee.position.positionTitle}"
														 class="form-control rightheight" />
		</div>

		<div class="input-group input-group-lg padbot20">
			<span class="input-group-addon">Фамилия</span><p th:text="${employee.surname}"
																 class="form-control rightheight" />
		</div>

		<div class="input-group input-group-lg padbot20">
			<span class="input-group-addon">Имя</span><p th:text="${employee.name}"
														 class="form-control rightheight" />
		</div>

		<div class="input-group input-group-lg padbot20">
			<span class="input-group-addon">Отчество</span><p th:text="${employee.fatherName}"
														 class="form-control rightheight" />
		</div>

		<div class="input-group input-group-lg padbot20">
			<span class="input-group-addon">Дата рождения</span> <p th:text="${employee.birthdate}"
														  class="form-control rightheight" />
		</div>
		<div class="input-group input-group-lg padbot20 ">
			<span class="input-group-addon ">Пол</span>
			<div class="pad10">
				<div class="radio-inline ">
					<label><input type="radio" onclick="show1();"
								  name="optradio"/>Муж</label>
				</div>
				<div class="radio-inline">
					<label><input type="radio" onclick="show2();"
								  name="optradio"/>Жен</label>
				</div>
			</div>
		</div>
		<div class="input-group input-group-lg padbot20 ">
			<span class="input-group-addon ">Семейное положение</span> <p th:text="${employee.familyStatus.getDisplayName()}"
																			  class="form-control rightheight" />
		</div>
		<div class="input-group input-group-lg padbot20 " id="military">
			<span class="input-group-addon ">Статус воинской службы</span> <p th:text="${employee.militaryStatus}"
																			  class="form-control rightheight" />
		</div>
	</div>

	<div class="col-md-3 bord">
		<div class="thumbnail">
			<img
					th:src="@{/img/{photo}(photo = ${employee.getPhoto()})}"
					class="img-rounded" alt="Cinque Terre"/>
		</div>
	</div>
</div>

	<script>
		function show2() {
			document.getElementById('military').style.visibility = 'hidden';
		}
		function show1() {
			document.getElementById('military').style.visibility = 'visible';
		}
	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>

</html>