﻿<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

	<title>HRM System</title>
	<meta name="viewport" content= "width=device-width initial-scale=1"/>
</head>

<body>
	<div class="container-fluid">

		<ul class="nav nav-tabs pad5 margbot15">
			<li><a class="active"
				   th:href="@{|/employee/commonInfo/${contact.getEmployee().id}|}">
							Общие сведение</a></li>
			<li><a th:href="@{|/employee/passportInfo/${contact.getEmployee().id}|}">Паспортные данные</a></li>
			<li><a th:href="@{|/employee/contactInfo/${contact.getEmployee().id}|}">Контактные данные</a></li>
			<li><a th:href="@{|/employee/familyInfo/${contact.getEmployee().id}|}">Данные о семье</a></li>
			<li><a th:href="@{|/employee/certificateInfo/${contact.getEmployee().id}|}">Сертификаты</a></li>
			<li><a th:href="@{|/employee/competenceInfo/${contact.getEmployee().id}|}">Компетенции</a></li>

		</ul>



		<div class="input-group input-group-lg padbot20">
						<span class="input-group-addon">Контактный телефон</span> <p th:text="${contact.privateNumber}"
																					 class="form-control rightheight" />
					</div>
		<div class="input-group input-group-lg padbot20">
						<span class="input-group-addon">Рабочий телефон</span> <p th:text="${contact.workNumber}"
																				  class="form-control rightheight" />
					</div>
		<div class="input-group input-group-lg padbot20">
						<span class="input-group-addon">Дом.телефон</span> <p th:text="${contact.homeNumber}"
																			  class="form-control rightheight" />
					</div>
		<div class="input-group input-group-lg padbot20">
						<span class="input-group-addon">Email</span> <p th:text="${contact.email}"
																		class="form-control rightheight" />
					</div>
		<div class="input-group input-group-lg padbot20">
						<span class="input-group-addon">Skype</span> <p th:text="${contact.skypeAccount}"
																		class="form-control rightheight" />
					</div>
	</div>
</body>
</html>