<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Данные о семье</title>
    <meta name="viewport" content="width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">

    <ul class="nav nav-tabs pad5 margbot15">
        <li><a class="active"
               th:href="@{|/employee/commonInfo/${employee.id}|}">
            Общие сведение</a></li>
        <li><a th:href="@{|/employee/passportInfo/${employee.id}|}">Паспортные данные</a></li>
        <li><a th:href="@{|/employee/contactInfo/${employee.id}|}">Контактные данные</a></li>
        <li><a th:href="@{|/employee/familyInfo/${employee.id}|}">Данные о семье</a></li>
        <li><a th:href="@{|/employee/certificateInfo/${employee.id}|}">Сертификаты</a></li>
        <li><a th:href="@{|/employee/competenceInfo/${employee.id}|}">Компетенции</a></li>
    </ul>

    <div class="col-md-12">
        <h2>Семья</h2>
        <table class="table table-hover">
            <thead>
            <tr class="info">
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Степень родства</th>
                <th>Год рождения</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${family.isEmpty()}">
                <td>Данные о семье данного сотрудника отсутствуют</td>
            </tr>
            <tr th:each="famMember : ${family}">
                <td th:text="${famMember.surname}"></td>
                <td th:text="${famMember.name}"></td>
                <td th:text="${famMember.fatherName}"></td>
                <td th:text="${famMember.status.getDisplayName()}"></td>
                <td th:text="${famMember.birthdate}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>