<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>HRM System</title>
    <meta name="viewport" content="width=device-width initial-scale=1"/>
</head>

<body>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#birthdates" role="tab" data-toggle="tab">Расписание событий</a></li>
    <li><a href="#search" role="tab" data-toggle="tab">Поиск сотрудников</a></li>
    <li><a href="#certification" role="tab" data-toggle="tab">
        Аттестация</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" th:field="${department}">Отделы <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li th:each="dep : ${department}" th:href="${'#jquerytab' + dep.id}" role="tab" data-toggle="tab">
                <a th:utext="${dep.name}"></a>
            </li>
        </ul>
    </li>
    <li><a href="/addEmployeeForm" target="_blank">Добавить сотрудника</a></li>
    <!--    <li><a href="#addEmployee" role="tab" data-toggle="tab">Добавить сотрудника</a></li>-->
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="birthdates">
        <table class="table table-hover">
            <thead>
            <tr class="info">
                <th>ФИО</th>
                <th>День рождения</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${birthdateList.entrySet()}">
                <td th:utext="${entry.getKey().surname} + ' ' + ${entry.getKey().name} + ' ' + ${entry.getKey().fatherName}"></td>
                <td th:utext="${entry.value}">
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="search">
        <p></p>
        <form action="#" th:action="@{/employee/commonInfo}" th:target="_blank">
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Фамилия сотрудника</span>
                <p><input class="form-control rightheight" name="surname" id="2" th:text="${surname}"/></p>
            </div>
            <p></p>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Имя сотрудника</span>
                <p><input class="form-control rightheight" name="name" id="1" th:text="${name}"/></p>
            </div>
            <p></p>
            <div class="input-group input-group-lg padbot20">
                <span class="input-group-addon">Отчество сотрудника</span>
                <p><input class="form-control rightheight" name="fathername" id="3" th:text="${fathername}"/></p>
            </div>

            <button type="submit">Поиск</button>
        </form>

        <div th:if="${notFound != null &amp;&amp; notFound}"
             style="border:1px solid red; text-align: center ; font-size: 20px; padding-top: 20px">
            <p>
                Такой сотрудник не найден
            </p>
        </div>
    </div>
    <div class="tab-pane" id="certification">
        <form action="#" th:action="@{/home/}">
            <div class="padtop20 padbot20">
                <button class="btn btn-primary" type="submit" name="action" value="">3 Недели</button>
                <button class="btn btn-primary" type="submit" name="action" value="">3 Месяца</button>
                <button class="btn btn-primary" type="submit" name="action" value="">6 Месяцев</button>
                <button class="btn btn-primary" type="submit" name="action" value="">Год</button>

            </div>
        </form>
    </div>
    <div class="tab-pane" th:each="emp : ${employee.keySet()}" th:id="${'jquerytab' + emp.id}">
        <table class="table table-hover">
            <thead>
            <tr class="info">
                <th>ФИО</th>
                <th>Профиль сотрудника</th>
            </tr>
            </thead>
            <tbody th:each="empByDep : ${employee.get(emp)}">

            <tr th:each="empOfDep : ${empByDep}">
                <td th:utext="${empOfDep.surname} + ' ' + ${empOfDep.name} + ' ' + ${empOfDep.fatherName}"></td>
                <td>
                    <a th:href="@{|/employee/commonInfo/${empOfDep.id}|}" th:target="_blank">Перейти</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="bootstab">Bootstrap Content here
        <ul>
            <li>Bootstrap forms</li>
            <li>Bootstrap buttons</li>
            <li>Bootstrap navbar</li>
            <li>Bootstrap footer</li>
        </ul>
    </div>
    <div class="tab-pane" id="htmltab">Hypertext Markup Language</div>
    <div class="tab-pane" id="addEmployee"></div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>