﻿<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

	<title>HRM System</title>
	<meta name="viewport" content="width=device-width initial-scale=1"/>
</head>

<body>
<div>
	<div class="container-fluid">

		<ul class="nav nav-tabs pad5 margbot15">
			<li><a class="active"
				   th:href="@{|/employee/commonInfo/${passport.getEmployee().id}|}">
				Общие сведение</a></li>
			<li><a th:href="@{|/employee/passportInfo/${passport.getEmployee().id}|}">Паспортные данные</a></li>
			<li><a th:href="@{|/employee/contactInfo/${passport.getEmployee().id}|}">Контактные данные</a></li>
			<li><a th:href="@{|/employee/familyInfo/${passport.getEmployee().id}|}">Данные о семье</a></li>
			<li><a th:href="@{|/employee/certificateInfo/${passport.getEmployee().id}|}">Сертификаты</a></li>
			<li><a th:href="@{|/employee/competenceInfo/${passport.getEmployee().id}|}">Компетенции</a></li>
		</ul>

	</div>
	<div class="input-group input-group-lg padbot20">
		<span class="input-group-addon">ИНН</span><p th:text="${passport.inn}"
													 class="form-control" />
	</div>
	<div class="input-group input-group-lg padbot20">
		<span class="input-group-addon">Дата выдачи</span><p th:text="${passport.issuedDate}"
													 class="form-control" />
	</div>
	<div class="input-group input-group-lg padbot20">
		<span class="input-group-addon">Срок действия</span><p th:text="${passport.expiryDate}"
															 class="form-control" />
	</div>

</div>
</body>
</html>