<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<title>HRM System</title>
</head>
<body>
<div class="container-fluid">
	<div class="col-md-8">
		<p></p>
		<form action="#" th:action="@{/employee/commonInfo}">
			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Фамилия сотрудника</span>
				<p><input  class="form-control height46" name ="surname" id="2" th:text="${surname}"/></p>
			</div>
			<p></p>
			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Имя сотрудника</span>
				<p><input class="form-control rightheight" name ="name" id="1" th:text="${name}"/></p>
			</div>
			<p></p>
			<div class="input-group input-group-lg padbot20">
				<span class="input-group-addon">Отчество сотрудника</span>
				<p><input class="form-control rightheight" name ="fathername" id="3" th:text="${fathername}"/></p>
			</div>

			<button type="submit">Submit</button>
		</form>

		<div class="employeenotfound" th:if="${notFound != null && notFound}">
			<p>
			Такой сотрудник не найден
			</p>
		</div>
	</div>
</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>