<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список компетенций</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <meta name="viewport" content="width=device-width initial-scale=1"/>
</head>

<body>
<div class="container-fluid">
<!--        <div class="col-md-8">-->
<!--            <h2>Список компетенций</h2>-->
<!--            &lt;!&ndash;            <option value="">Выберите сотрудника</option>&ndash;&gt;-->
<!--            <option th:each="comp : ${competence}"-->
<!--                    th:value="${comp.id}"-->
<!--                    th:text="${comp.name} + ' ' + ${comp.description} + ' ' + ${comp.validationPeriod}"></option>-->
<!--        </div>-->
    <div class="tab-pane" >
        <table class="table table-hover">

            <tr class="info">
                <th>Название</th>
                <th>Описание</th>
                <th>Срок действия</th>
            </tr>

            <tr th:each="comp : ${competencelist}">
                <td th:text="${comp.name}"></td>
                <td th:text="${comp.description}"></td>
                <td th:text="${comp.validationPeriod}"></td>
            </tr>

        </table>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>