<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CRM Admin Panel</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/lobipanel.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/flash.css" rel="stylesheet" type="text/css"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css"/>
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css"/>
    <link href="/css/emojionearea.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/monthly.css" rel="stylesheet" type="text/css"/>
    <link href="/css/stylecrm.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/lobipanel.min.js" type="text/javascript"></script>
    <script src="/js/pace.min.js" type="text/javascript"></script>
    <script src="/js/jquery.slimscroll.min.js" type="text/javascript">    </script>
    <script src="/js/fastclick.min.js" type="text/javascript"></script>
    <script src="/js/custom.js" type="text/javascript"></script>
    <script src="/js/waypoints.js" type="text/javascript"></script>
    <script src="/js/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="/js/monthly.js" type="text/javascript"></script>
    <script src="/js/dashboard.js" type="text/javascript"></script>
</head>

<body>
<header class="main-header" th:fragment="header">
    <a href="/" class="logo">
        <!-- Logo -->
        <span class="logo-mini">
               <img src="/img/mini-logo.png" alt="" />
               </span>
        <span class="logo-lg">
               <img src="/img/logo.png" alt="" />
               </span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <!-- Sidebar toggle button-->
            <span class="sr-only">Toggle navigation</span>
            <span class="pe-7s-angle-left-circle"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- user -->
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img th:src="@{{photothumb}(photothumb=${currentuser.photo})}" class="img-circle" width="45" height="45" alt="user" /></a>
                    <ul class="dropdown-menu" >
                        <li>
                            <a th:href="@{/employee/commonInfo/{firstlink}(firstlink=${currentuser.id})}" >
                                <i class="fa fa-user"></i> Профиль</a>
                        </li>
                        <li><a th:href="@{/logout}">
                            <i class="fa fa-sign-out"></i> Выход</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<aside class="main-sidebar" th:fragment="sidebar">
    <div class="sidebar">
        <ul class="sidebar-menu">

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/home}">
                    <i class="fa fa-tachometer"></i> <span>Панель управления</span>
                    <span class="pull-right-container">
                     </span>
                </a>
            </li>

            <li sec:authorize="isAuthenticated()">

                <a th:href="@{/employee/commonInfo/{secondlink}(secondlink=${currentuser.id})}">
                    <i class="fa fa-address-card"></i><span>Ваш профиль</span>
                    <span class="pull-right-container">
                     </span>
                </a>
            </li>

            <li sec:authorize="hasAnyAuthority('ADMIN','HR')">
                <a th:href="@{/search}">
                    <i class="fa fa-users"></i><span>Поиск сотрудников</span>
                </a>
            </li>
            <li class="treeview" sec:authorize="hasAnyAuthority('ADMIN','HR')">
                <a href="#">
                    <i class="fa fa-user-circle-o"></i><span>Сотрудники</span>
                    <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/addEmployeeForm}">Добавление сотрудника</a></li>
                    <li><a th:href="@{/employeelist}">Действующие сотрудники</a></li>
                    <li><a th:href="@{/firedlist}">Уволенные сотрудники</a></li>
                </ul>
            </li>
            <li class="treeview" sec:authorize="hasAnyAuthority('ADMIN','HR')" th:field="${department}">
                <a href="#">
                    <i class="fa fa-user-circle-o"></i><span>Отделы</span>
                    <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li th:each="dep : ${department}"><a th:href="@{/department/{depid}(depid=${dep.id})}" th:utext="${dep.name}"></a></li>
                </ul>
            </li>
            <li class="treeview" sec:authorize="hasAnyAuthority('ADMIN','HR')">
                <a href="#">
                    <i class="fa fa-book"></i><span>Документы</span>
                    <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/check}">Перечень документов</a></li>
                    <li><a th:href="@{/print}">Печать</a></li>
                </ul>
            </li>
            <li class="treeview" sec:authorize="hasAuthority('ADMIN')">
                <a href="#">
                    <i class="fa fa-star-half-o "></i><span>Должности</span>
                    <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/position/addForm}">Добавление должности</a></li>

                </ul>
            </li>
            <li class="treeview" sec:authorize="hasAuthority('ADMIN')">
                <a href="#">
                    <i class="fa fa-star-half-o "></i><span>Админпанель</span>
                    <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/user/add}">Изменение прав пользователей</a></li>

                </ul>
            </li>

            <li>
                <a th:href="@{/logout}">
                    <i class="fa fa-sign-out"></i> <span>Выход</span>
                    <span class="pull-right-container">
                     </span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<section class="content-header" th:fragment="panel(panelfa,paneltitle,paneldesc)">
    <div class="header-icon">
        <i th:class="${panelfa}"></i>
    </div>
    <div class="header-title">
        <h1 th:utext="${paneltitle}"></h1>
        <small th:utext="${paneldesc}"></small>
    </div>
</section>
<div class="panel-heading" th:fragment="buttonpanel1(paneltitle)">
    <div class="panel-title">
        <h4 th:utext="${paneltitle}"></h4>
    </div>
</div>
<footer class="main-footer" th:fragment="footer">
    <strong>Copyright <i class="fa fa-copyright"></i> 2019 <a href="#">ESDP JAVA Team 2</a>.</strong> All rights reserved.
</footer>

</body>
</html>