@charset "UTF-8";

.width400 {
	width: 400px;
}

.padtop20 {
	padding-top: 20px;
}

.padtop50 {
	padding-top: 50px;
}

.valdationError {
    color : red;
}

.padbot20 {
	padding-bottom: 20px;
}

.pad5 {
	padding: 5px;
}

.pad10 {
	padding: 10px;
}

.margbot15 {
	margin-bottom : 15px; 
}

.rightheight {
    height: 46px;
}

.employeenotfound {
    border: 1px solid red;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}


.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.searchEmployee {
    border:1px solid red;
    text-align: center ;
    font-size: 20px;
    padding-top: 20px;
}