
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Добавление контактов','Добавление контактных данных нового пользователя')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Контактные данные')"></div>
                        <div class="panel-body">
    <form class="col-md-6" action="#" th:action="@{/addContactForm}" th:object="${contact}"  method="post">

            <div style="float:right">
                <p th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}">adress Error</p>
            </div>
            <div class="form-group">
                <label>Адрес</label>
                <input type="text" th:field="*{adress}" class="form-control" />
            </div>
            <div style="float:right">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">inn Error</p>
            </div>
            <div class="form-group">
                <label>Электронная почта</label>
                <input type="text" th:field="*{email}" class="form-control" />
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('workNumber')}" th:errors="*{workNumber}">inn Error</p>
            </div>
            <div class="form-group">
                <label>Рабочий номер телефона</label>
                <input type="text" th:field="*{workNumber}" class="form-control" />
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('privateNumber')}" th:errors="*{privateNumber}">inn Error</p>
            </div>
            <div class="form-group">
                <label>Личный номер телефона</label>
                <input type="text" th:field="*{privateNumber}" class="form-control" />
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('homeNumber')}" th:errors="*{homeNumber}">inn Error</p>
            </div>
            <div class="form-group">
                <label>Домашний номер телефона</label>
                <input type="text" th:field="*{homeNumber}" class="form-control" />
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('skypeAccount')}" th:errors="*{skypeAccount}">inn Error</p>
            </div>
            <div class="form-group">
                <label>Скайп</label>
                <input type="text" th:field="*{skypeAccount}" class="form-control" />
            </div>
            <div style="float:right">
                <p th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}">employee Error</p>
            </div>
            <div class="form-group">
                <label>ФИО сотрудника</label>
                 <select  class="form-control" th:field="*{employee}">

                        <option th:each="emp : ${employee}"
                                th:value="${emp.id}"
                                th:text="${emp.surname} + ' '  + ${emp.name}  + ' ' + ${emp.fatherName}"
                                th:selected="${emp.id}"></option>
                    </select>

            </div>




            <div class="reset-button">
                <button class="btn btn-success" type="submit">Сохранить</button>
            </div>


    </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>