<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
	<div id="status"></div>
</div>
<!-- Site wrapper -->
<div class="wrapper">
	<header class="main-header" th:replace="fragments/blocks::header"></header>
	<aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
	<div class="content-wrapper">
		<section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Добавление пользователя','Добавление нового пользователя')"></section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-bd lobidisable">
						<div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Добавление пользователя')"></div>
						<div class="panel-body">
	<form class="col-md-6" action="#" th:action="@{/addEmployeeForm}" th:object="${employee}"  method="post">
			<div style="float:right">
				<p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</p>
			</div>
			<div class="form-group">
				<label>Фамилия</label>
				<input type="text" th:field="*{surname}" class="form-control"/>
			</div>
			<div style="float:right">
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
			</div>

			<div class="form-group">
				<label>Имя</label>
				<input type="text" th:field="*{name}" class="form-control"/>

			</div>

			<div style="float:right">
				<p th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}">FatherName Error</p>
			</div>
			<div class="form-group">
				<label>Отчество</label>
				<input type="text" th:field="*{fatherName}" class="form-control"/>

			</div>

			<div style="float:right">
				<p th:if="${#fields.hasErrors('department')}" th:errors="*{department}">Department Error</p>
			</div>
			<div class="form-group">
				<label>Отдел</label>

					<select  class="form-control" th:field="*{department}">
						<option value="">Выберите отдел</option>
						<option th:each="dep : ${department}"
								th:value="${dep.id}"
								th:text="${dep.name}"></option>
					</select>

			</div>



			<div style="float:right">
				<p th:if="${#fields.hasErrors('position')}" th:errors="*{position}">position Error</p>
			</div>
			<div class="form-group">
				<label>Должность</label>

					<select class="form-control" th:field="*{position}">
						<option value="">Выберите должность</option>
						<option th:each="pos : ${position}"
								th:value="${pos.id}"
								th:text="${pos.positionTitle}"></option>
					</select>

			</div>


			<div style="float:right">
				<p th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}">Birthdate Error</p>
			</div>

			<div class="form-group">
				<label>Дата рождения</label>
				<input type="date" th:field="*{birthdate}" class="form-control" />

			</div>
			<div class="form-group">
				<label>Пол</label>
						<label class="radio-inline"><input type="radio"
									  th:field="*{gender}" value="true" onclick="showStatus()"/>муж</label>


					<div style="float:right">
						<p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Gender Error</p>
					</div>
						<label  class="radio-inline"><input type="radio"
									  th:field="*{gender}" value="false" onclick="hideStatus()"/>жен</label>

			</div>


			<div style="float:right">
				<p th:if="${#fields.hasErrors('familyStatus')}" th:errors="*{familyStatus}">familyStatus Error</p>
			</div>
			<div class="form-group">
				<label>Семейное положение</label>
					<select class="form-control" th:field="*{familyStatus}">
						<option value="">Семейное положение</option>
						<option th:each="status : ${familyStatus}"
								th:value="${status.name()}"
								th:text="${status.getDisplayName()}"></option>
					</select>
			</div>

			<div style="float:right">
				<p th:if="${#fields.hasErrors('militaryStatus')}" th:errors="*{militaryStatus}">militaryStatus Error</p>
			</div>
			<div class="form-group" id = "militarity">
				<label>Статус воинской службы</label>
               <label class="radio-inline"><input type="radio"  th:field="*{militaryStatus}" value="true"/>годен</label>

						<label class="radio-inline"><input type="radio"
									  th:field="*{militaryStatus}" value="false"/>не годен</label>

			</div>


			<div class="reset-button">
				<button class="btn btn-success" type="submit">Сохранить</button>
			</div>


	</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
	</body>

<script>

	function showStatus() {
		document.getElementById("militarity").style.visibility = "visible";
	}
	function hideStatus() {
		document.getElementById("militarity").style.visibility = "hidden";
	}
</script>
</html>