
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->

<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Добавление члена семьи','Very detailed and featured admin')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Данные члена семьи')"></div>
                        <div class="panel-body">
                            <form action="#" method="post"  >
                                <div class="col-md-8">
                                    <h2>Данные о семье</h2>
                                    <div style="float:right">
                                        <p th:if="${#fields.hasErrors('family.surname')}" th:errors="*{family.surname}">surname error</p>
                                    </div>

                                    <div class="input-group input-group-lg padbot20">
                                        <span class="input-group-addon">Фамилия</span>
                                        <p> <input type="text" th:field="*{family.surname}" class="form-control" /></p>
                                    </div>

                                    <div style="float:right">
                                        <p th:if="${#fields.hasErrors('family.name')}" th:errors="*{family.name}">name error</p>
                                    </div>
                                    <div class="input-group input-group-lg padbot20">
                                        <span class="input-group-addon">Имя</span>
                                        <p> <input type="text" th:field="*{family.name}" class="form-control" /></p>

                                    </div>

                                    <div style="float:right">
                                        <p th:if="${#fields.hasErrors('family.fatherName')}" th:errors="*{family.fatherName}">fatherName error</p>
                                    </div>
                                    <div class="input-group input-group-lg padbot20">
                                        <span class="input-group-addon">Отчество</span>
                                        <p> <input type="text" th:field="*{family.fatherName}" class="form-control" /></p>

                                    </div>


                                    <div style="float:right">
                                        <p th:if="${#fields.hasErrors('family.birthdate')}" th:errors="*{family.birthdate}">birthdate error</p>
                                    </div>

                                    <div class="input-group input-group-lg padbot20">
                                        <span class="input-group-addon">Дата рождения</span>
                                        <p> <input type="date" th:field="*{family.birthdate}" class="form-control" /></p>

                                    </div>


                                    <div style="float:right">
                                        <p th:if="${#fields.hasErrors('family.status_member')}" th:errors="*{family.status_member}">status error</p>
                                    </div>

                                    <div class="input-group input-group-lg padbot20">
                                        <span class="input-group-addon">Кем является?</span>
                                        <p>
                                            <select class="form-control" th:field="*{family.status_member}">
                                                <option value="">Кем является?</option>
                                                <option th:each="member : ${familyMember}"
                                                        th:value="${member.name()}"
                                                        th:text="${member.getDisplayName()}"></option>
                                            </select>
                                        </p>
                                    </div>
                                    <!--            <div class="input-group input-group-lg padbot20" >-->
                                    <!--                <span class="input-group-addon">ФИО сотрудника</span>-->
                                    <!--                <p>-->
                                    <!--                    <select  class="form-control" th:field="*{employee}">-->

                                    <!--                        <option th:each="emp : ${employee}"-->
                                    <!--                                th:value="${emp.id}"-->
                                    <!--                                th:text="${emp.surname} + ' '  + ${emp.name}  + ' ' + ${emp.fatherName}"-->
                                    <!--                                th:selected="${emp.id}"></option>-->
                                    <!--                    </select>-->
                                    <!--                </p>-->
                                    <!--            </div>-->

                                    <div class="fixed-right padtop50">
                                        <button class="btn btn-primary btn-block" type="submit">Добавить
                                            члена семьи</button>
                                    </div>


                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>