<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Добавление должности','Добавление новой должности')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Данные позиции')"></div>
                        <div class="panel-body">
    <form class="col-md-6" action="#" th:action="@{/position/addForm}" th:object="${position}" method="post">

            <div style="float:right">
                <p th:if="${#fields.hasErrors('positionTitle')}" th:errors="*{positionTitle}">positionTitle error</p>
            </div>
            <div class="form-group">
                <label>Название позиции</label>
                <input type="text" th:field="*{positionTitle}" class="form-control"/>
            </div>
            <div class="tab-pane">
                <table class="table table-hover">
                    <thead>
                    <tr class="info">
                        <th>Компетенции</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="competence : ${competences}">
                        <td><input type="checkbox" th:field="*{competences}" th:value="${competence.id}"/>
                            <label th:text="${competence.name}"></label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="reset-button">
                <button class="btn btn-success" type="submit">Сохранить
                </button>
            </div>

    </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>