<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Добавление паспортных данных','Добавление паспортных данных для нового пользователя')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Паспорт сотрудника')"></div>
                        <div class="panel-body">
    <form action="#" th:action="@{/addPassportForm}" th:object="${passport}"  method="post">
        <div class="col-md-8">
           <div style="float:right">
                <p th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}">passportNumber Error</p>
            </div>
            <div class="form-group">
                <label>Паспортный номер</label>
                <input type="text" th:field="*{passportNumber}" class="form-control" />
            </div>
            <div style="float:right">
                <p th:if="${#fields.hasErrors('inn')}" th:errors="*{inn}">inn Error</p>
            </div>
            <div class="form-group">
                <label>ИНН</label>
                <input type="text" th:field="*{inn}" class="form-control" />
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('issuedDate')}" th:errors="*{issuedDate}">issuedDate Error</p>
            </div>
            <div class="form-group">
                <label>Дата выдачи</label>
                <input type="date" th:field="*{issuedDate}" class="form-control" />
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('expiryDate')}" th:errors="*{expiryDate}">expiryDate Error</p>
            </div>
            <div class="form-group">
                <label>Дата окончания</label>
                <input type="date" th:field="*{expiryDate}" class="form-control" />
            </div>

            <div style="float:right">
                <p th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}">employee Error</p>
            </div>
            <div class="form-group" >
                <label>ФИО сотрудника</label>

                    <select  class="form-control" th:field="*{employee}">

                        <option th:each="emp : ${employee}"
                                th:value="${emp.id}"
                                th:text="${emp.surname} + ' '  + ${emp.name}  + ' ' + ${emp.fatherName}"
                                th:selected="${emp.id}"></option>
                    </select>

            </div>




            <div class="reset-button">
                <button class="btn btn-success" type="submit">Сохранить</button>
            </div>

        </div>
    </form>
</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

    </body>
</html>