<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Добавление больничного/отпуска','Very detailed and featured admin')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Данные')"></div>
                        <div class="panel-body">
    <form class="col-md-6" action="#" method="post">


            <div style="float:right">
                <p th:if="${#fields.hasErrors('rest.typeOfRest')}" th:errors="*{rest.typeOfRest}">rest.typeOfRest error</p>
            </div>
        <div class="input-group input-group-lg padbot20">
            <span class="input-group-addon">Причина</span>
            <p>
                <select class="form-control" th:field="*{rest.typeOfRest}">
                    <option value="">Причина</option>
                    <option th:each="res : ${restList}"
                            th:value="${res.name()}"
                            th:text="${res.getDisplayName()}"></option>
                </select>
            </p>
        </div>


        <div style="float:right">
                <p  th:if="${#fields.hasErrors('rest.startDate')}" th:errors="*{rest.startDate}">rest.startDate error</p>
            </div>
            <div class="form-group">
                <label>Дата начала</label>
                <input type="date" th:field="*{rest.startDate}" class="form-control"/>
            </div>


        <div style="float:right">
                <p   th:if="${#fields.hasErrors('rest.endDate')}" th:errors="*{rest.endDate}">rest.endDate error</p>
            </div>
            <div class="form-group">
                <label>Дата окончания</label>
                <input type="date" th:field="*{rest.endDate}" class="form-control"/>
            </div>



            <div class="reset-button">
                <button class="btn btn-success" type="submit">Сохранить</button>
            </div>


    </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>