<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/blocks::head"></head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Сертификаты сотрудника','Все сертификаты сотрудника')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12 m-b-20">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Сертификаты')"></div>
                        <div class="panel-body">
                    <div class="col-md-3 p-0">
                        <ul class="nav nav-tabs tabs-left">
                            <li><a
                                    th:href="@{|/employee/commonInfo/${employee.id}|}">
                                Общие сведения</a></li>
                            <li><a th:href="@{|/employee/passportInfo/${employee.id}|}">Паспортные данные</a></li>
                            <li><a th:href="@{|/employee/contactInfo/${employee.id}|}">Контактные данные</a></li>
                            <li><a th:href="@{|/employee/familyInfo/${employee.id}|}">Данные о семье</a></li>
                            <li class="active"><a th:href="@{|/employee/certificateInfo/${employee.id}|}">Сертификаты</a></li>
                            <li><a th:href="@{|/employee/competenceInfo/${employee.id}|}">Компетенции</a></li>
                            <li><a th:href="@{|/employee/restInfo/${employee.id}|}">Больничный/отпуск</a></li>

                        </ul>
                    </div>
                    <div class="col-md-9 p-0">
                        <div class="tab-content">
                            <div class="tab-pane fade active in">

        <div class="table table-hover">

        <div class="container-fluid">

                <table class="table table-hover">
                    <thead>
                        <tr class="info">
                            <th>Название</th>
                            <th>Дата</th>
                            <th>Срок действия</th>
                        </tr>
                    </thead>
                        <tbody>
                        <tr th:if="${certificate.isEmpty()}">
                            <td colspan="2"> Сертификатов нет </td>
                        </tr>
                        <tr th:each="cert : ${certificate}">
                            <td th:text="${cert.diplomTitle}"></td>
                            <td th:text="${cert.fromDate}"></td>
                            <td th:text="${cert.untilDate}"></td>
                        </tr>
                        </tbody>
                </table>
            <a th:href="@{/addCertificateForm/{id}(id=${employee.id})}" class="btn btn-success" sec:authorize="hasAnyAuthority('ADMIN','HR')">Добавить сертификат</a>
        </div>
        </div>
                            </div>
                        </div><!-- tab-content-->
                    </div>
                </div>
            </div>
                </div>
            </div>
        </section><!--section content-->


    </div> <!--div content-wrapper-->
    <footer class="main-footer" th:replace="fragments/blocks::footer"></footer>
</div> <!--div wrapper-->
</body>
</html>