<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Добавление компетенции','Very detailed and featured admin')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Перечень документов')"></div>
                        <div class="panel-body">

        <table class="table table-striped table-responsive-md">
            <thead>

            </thead>
            <tbody>
            <tr th:each="doc : ${documents}">
                <td th:text="${doc}"></td>
                <td>
                    <a th:href="@{'/check-up?docName='+${doc}}"
                       class="btn btn-primary" th:onclick="|addDocument()|" >
                        Добавить
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
                    </div>
                </div>

                        <div class="col-md-12">
                            <div class="panel panel-bd lobidisable">
                                <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Выбранные документы')"></div>
                                <div class="panel-body">
        <table class="table table-striped table-responsive-md">
            <thead>
                <h2>Печать <a th:href="@{'/check-print'}" style="float: right"><i class="fa fa-print"></i></a></h2>
            </thead>
            <tbody>
            <tr th:each="sel : ${selected_docs}">
                <td th:text="${sel}"></td>
                <td>
                    <a th:href="@{'/check-del?docName='+${sel}}"
                       class="btn btn-danger">
                        Убрать
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>