<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/blocks::head"></head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<header class="main-header" th:replace="fragments/blocks::header"></header>
	<aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
	<div class="content-wrapper">
		<section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Общие сведения','Общая информация о сотруднике')"></section>
		<section class="content">
			<div class="row">
				<div class="col-md-12 m-b-20">
					<div class="panel panel-bd lobidisable">
						<div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Общие сведения')"></div>
						<div class="panel-body">
					<div class="col-md-3 p-0">
						<ul class="nav nav-tabs tabs-left">
							<li class="active"><a
									th:href="@{|/employee/commonInfo/${employee.id}|}">
								Общие сведения</a></li>
							<li><a th:href="@{|/employee/passportInfo/${employee.id}|}">Паспортные данные</a></li>
							<li><a th:href="@{|/employee/contactInfo/${employee.id}|}">Контактные данные</a></li>
							<li><a th:href="@{|/employee/familyInfo/${employee.id}|}">Данные о семье</a></li>
							<li><a th:href="@{|/employee/certificateInfo/${employee.id}|}">Сертификаты</a></li>
							<li><a th:href="@{|/employee/competenceInfo/${employee.id}|}">Компетенции</a></li>
							<li><a th:href="@{|/employee/restInfo/${employee.id}|}">Больничный/отпуск</a></li>

						</ul>
					</div>
					<div class="col-md-9 p-0">
						<div class="tab-content">
							<div class="tab-pane fade active in">

	<div class="col-md-9">
		<div class="form-group">
			<label>Отдел</label><p th:text="${employee.department.name}"
														 class="form-control" />
		</div>
		<div class="form-group">
			<label>Должность</label><p th:text="${employee.position.positionTitle}"
														 class="form-control" />
		</div>

		<div class="form-group">
			<label>Фамилия</label><p th:text="${employee.surname}"
																 class="form-control" />
		</div>

		<div class="form-group">
			<label>Имя</label><p th:text="${employee.name}"
														 class="form-control" />
		</div>

		<div class="form-group">
			<label>Отчество</label><p th:text="${employee.fatherName}"
														 class="form-control" />
		</div>

		<div class="form-group">
			<label>Дата рождения</label> <p th:text="${employee.birthdate}"
														  class="form-control" />
		</div>
		<div class="form-group">
			<label>Пол</label> <p th:text="${employee.gender}? 'Муж' : 'Жен'"
																		   class="form-control" />
		</div>
		<div class="form-group">
			<label>Семейное положение</label> <p th:text="${employee.familyStatus.getDisplayName()}"
																			  class="form-control" />
		</div>

		<div class="form-group" id="military" th:unless="${employee.militaryStatus}" th:style="'display:none'">
			<label>Статус воинской службы</label> <p th:text="${employee.militaryStatus}"
																	  class="form-control" />
		</div>
		<div class="form-group" id="military" th:if="${employee.militaryStatus}">
			<label>Статус воинской службы</label> <p th:text="${employee.militaryStatus} ? 'Годен' : 'Не годен'"
													 class="form-control" />
		</div>

	</div>

	<div class="col-md-3 bord">
		<div class="thumbnail">
			<img th:src="@{${employee.photo}}"
					class="img-rounded" alt="Cinque Terre"/>
		</div>
	</div>
</div>
						</div>
					</div><!-- tab-content-->
				</div>
			</div>
				</div>
			</div>
	</section><!--section content-->
</div> <!--div content-wrapper-->
<footer class="main-footer" th:replace="fragments/blocks::footer"></footer>
</div> <!--div wrapper-->
	</body>

</html>