<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/blocks::head"></head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Компетенции','Все компетенции сотрудника')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12 m-b-20">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Компетенции')"></div>
                        <div class="panel-body">
                    <div class="col-md-3 p-0">
                        <ul class="nav nav-tabs tabs-left">
                            <li><a
                                    th:href="@{|/employee/commonInfo/${employee.id}|}">
                                Общие сведения</a></li>
                            <li><a th:href="@{|/employee/passportInfo/${employee.id}|}">Паспортные данные</a></li>
                            <li><a th:href="@{|/employee/contactInfo/${employee.id}|}">Контактные данные</a></li>
                            <li><a th:href="@{|/employee/familyInfo/${employee.id}|}">Данные о семье</a></li>
                            <li><a th:href="@{|/employee/certificateInfo/${employee.id}|}">Сертификаты</a></li>
                            <li class="active"><a th:href="@{|/employee/competenceInfo/${employee.id}|}">Компетенции</a></li>
                            <li><a th:href="@{|/employee/restInfo/${employee.id}|}">Больничный/отпуск</a></li>

                        </ul>
                    </div>
                    <div class="col-md-9 p-0">
                        <div class="tab-content">
                            <div class="tab-pane fade active in">
                                <div class="table table-hover">

                                    <div class="container-fluid">
		<h2>Компетенции</h2>
    <table class="table table-hover">
        <thead>
            <tr class="info">
                <th>Название</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${competence.isEmpty()}">
                <td>Компетенции отсутствуют</td>
            </tr>
            <tr th:each="comp : ${competence}">
                <td th:text="${comp.name}"></td>
                <td th:text="${comp.description}"></td>
            </tr>
        </tbody>
    </table>
                                    </div>
                                </div>
                            </div>
                        </div><!-- tab-content-->
                    </div>
                </div>
            </div>
                </div>
            </div>
        </section><!--section content-->
    </div> <!--div content-wrapper-->
    <footer class="main-footer" th:replace="fragments/blocks::footer"></footer>
</div> <!--div wrapper-->
</body>
</html>