﻿<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/blocks::head"></head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<header class="main-header" th:replace="fragments/blocks::header"></header>
	<aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
<div class="content-wrapper">
	<section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Контактные данные','Все контактные данные сотрудника')"></section>
	<section class="content">
	<div class="row">
     <div class="col-md-12 m-b-20">
		 <div class="panel panel-bd lobidisable">
			 <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Контакты')"></div>
			 <div class="panel-body">
		 <div class="col-md-3 p-0">
		 <ul class="nav nav-tabs tabs-left">
			<li><a
				   th:href="@{|/employee/commonInfo/${contact.getEmployee().id}|}">
							Общие сведения</a></li>
			<li><a th:href="@{|/employee/passportInfo/${contact.getEmployee().id}|}">Паспортные данные</a></li>
			<li class="active"><a th:href="@{|/employee/contactInfo/${contact.getEmployee().id}|}">Контактные данные</a></li>
			<li><a th:href="@{|/employee/familyInfo/${contact.getEmployee().id}|}">Данные о семье</a></li>
			<li><a th:href="@{|/employee/certificateInfo/${contact.getEmployee().id}|}">Сертификаты</a></li>
			<li><a th:href="@{|/employee/competenceInfo/${contact.getEmployee().id}|}">Компетенции</a></li>
			 <li><a th:href="@{|/employee/restInfo/${contact.getEmployee().id}|}">Больничный/отпуск</a></li>

		</ul>
		 </div>
		 <div class="col-md-9 p-0">
      <div class="tab-content">
		  <div class="tab-pane fade active in">
			  <h2>Контактные данные</h2>
		<div class="form-group">
						<label>Контактный телефон</label> <p th:text="${contact.privateNumber}"
																					 class="form-control" />
					</div>
		<div class="form-group">
						<label>Рабочий телефон</label> <p th:text="${contact.workNumber}"
																				  class="form-control" />
					</div>
		<div class="form-group">
						<label>Дом.телефон</label> <p th:text="${contact.homeNumber}"
																			  class="form-control" />
					</div>
		<div class="form-group">
						<label>Email</label> <p th:text="${contact.email}"
																		class="form-control" />
					</div>
		<div class="form-group">
						<label>Skype</label> <p th:text="${contact.skypeAccount}"
																		class="form-control" />
					</div>
		  </div>
	  </div><!-- tab-content-->
		 </div>
	 </div>
	</div>
	 </div>
	</div>
	</section><!--section content-->
</div> <!--div content-wrapper-->
	<footer class="main-footer" th:replace="fragments/blocks::footer"></footer>
	</div> <!--div wrapper-->

</body>
</html>