<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard',${departmental.name},'Информация о сотрудниках отдела')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Список сотрудников: ' + ${departmental.name})"></div>
                        <div class="panel-body">
                            <div class="col-md-12">
    <table class="table table-hover">
        <thead>
            <tr class="info">
                <th>Имя</th>
                <th>Отчество</th>
                <th>Фамилия</th>
                <th>Должность</th>
                <th>Отдел</th>
                <th>Профиль сотрудника</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employee}">
                <td th:utext="${employee.name}"></td>
                <td th:utext="${employee.fatherName}"></td>
                <td th:utext="${employee.surname}"></td>
                <td th:utext="${employee.position.positionTitle}"></td>
                <td th:utext="${employee.department.name}"></td>
                <td>
                    <a th:href="@{'http://localhost:8080/employee/commonInfo?surname='+ ${employee.surname} +
                    '&amp;name=' + ${employee.name} + '&amp;fathername=' + ${employee.fatherName}}">Перейти</a>
                </td>
            </tr>
        </tbody>
    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>