<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/blocks::head"></head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Список сотруднков','Общая информация о сотрудниках')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12 m-b-20">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Общие сведения')"></div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th>Фото</th>
                                        <th>Имя</th>
                                        <th>Отчество</th>
                                        <th>Фамилия</th>
                                        <th>Дата рождения</th>
                                        <th>Пол</th>
                                        <th>Отдел</th>
                                        <th>Должность</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${workeduser.isEmpty()}">
                                        <td>Нет сотрудников в базе</td>
                                    </tr>
                                    <tr th:each="workuser : ${workeduser}">
                                        <td><img th:src="${workuser.photo}" class="img-circle" alt="User Image" width="50" height="50"></img></td>
                                        <td th:utext="${workuser.name}"></td>
                                        <td th:utext="${workuser.fatherName}"></td>
                                        <td th:utext="${workuser.surname}"></td>
                                        <td th:utext="${workuser.birthdate}"></td>
                                        <td th:text="${workuser.gender}? 'Муж' : 'Жен'"></td>
                                        <td th:utext="${workuser.department.name}"></td>
                                        <td th:utext="${workuser.position.positionTitle}"></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--section content-->
    </div> <!--div content-wrapper-->
    <footer class="main-footer" th:replace="fragments/blocks::footer"></footer>
</div> <!--div wrapper-->
</body>

</html>