<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="stylesheet" href="style.css" />

<title>Поиск сотрудника</title>
<meta name="viewport content=" width=device-width, initial-scale=1>
</head>


<body>
	<div class="container-fluid">
		<div class="col-md-12">
		<h2>Список сотрудников</h2>
    <table class="table table-hover">
        <thead>
            <tr class="info">
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Должность</th>
                <th>Отдел</th>
                <th>Профиль сотрудника</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${employeeList.isEmpty()}">
                <td>Сотрудник с таким ФИО отсутстует</td>
            </tr>

            <tr th:each="employee : ${employeeList}">
                <td th:utext="${employee.surname}"></td>
                <td th:utext="${employee.name}"></td>
                <td th:utext="${employee.fatherName}"></td>
                <td th:utext="${employee.position.positionTitle}"></td>
                <td th:utext="${employee.department.name}"></td>
                <td>
                    <a th:href="@{|/employee/commonInfo/${employee.id}|}">Перейти</a>
                </td>
            </tr>
        </tbody>
    </table>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</div>
</body>
</html>