<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Главная','Панель управления')"></section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Время</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <iframe  frameborder="no" scrolling="no" width="100%" height="100%" src="https://yandex.ru/time/widget/?geoid=10309&amp;lang=ru&amp;layout=horiz&amp;type=analog&amp;face=serif"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Прогноз погоды</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                        <!--Widget-->
                            <a class="weatherwidget-io" href="https://forecast7.com/ru/42d8774d57/bishkek/" data-label_1="БИШКЕК" data-label_2="ПОГОДА" data-theme="original" >ПОГОДА БИШКЕК </a>
                            <script>
                                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                            </script>
                            <!--Widget-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" sec:authorize="hasAnyAuthority('ADMIN','HR')">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Текущие и будущие дни рождения</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th>ФИО</th>
                                        <th>День рождения</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${afterBirthDateList.isEmpty()}">
                                        <td colspan="2"> Нет дней рождений сотрудников </td>
                                    </tr>
                                    <tr th:each="entry : ${afterBirthDateList}" >
                                        <td th:utext="${entry.getSurname()} + ' ' + ${entry.getName()} + ' ' + ${entry.getFatherName()}"></td>
                                        <td th:utext="${entry.getBirthdate()}"></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" sec:authorize="hasAnyAuthority('ADMIN','HR')">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Прошедшие дни рождения</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th>ФИО</th>
                                        <th>День рождения</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${beforeBirthDateList.isEmpty()}">
                                        <td colspan="2"> Нет дней рождений сотрудников </td>
                                    </tr>
                                    <tr th:each="entry : ${beforeBirthDateList}" >
                                        <td th:utext="${entry.getSurname()} + ' ' + ${entry.getName()} + ' ' + ${entry.getFatherName()}"></td>
                                        <td th:utext="${entry.getBirthdate()}"></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer" th:replace="fragments/blocks::footer"></footer>
</div>
<!-- /.wrapper -->


</body>
</html>

