﻿<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/blocks::head"></head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<header class="main-header" th:replace="fragments/blocks::header"></header>
	<aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
	<div class="content-wrapper">
		<section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Паспортные данные','Все паспортные данные сотрудника')"></section>
		<section class="content">
			<div class="row">
				<div class="col-md-12 m-b-20">
					<div class="panel panel-bd lobidisable">
						<div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Паспортные данные')"></div>
						<div class="panel-body">
					<div class="col-md-3 p-0">
						<ul class="nav nav-tabs tabs-left">
							<li><a
									th:href="@{|/employee/commonInfo/${passport.getEmployee().id}|}">
								Общие сведения</a></li>
							<li class="active"><a th:href="@{|/employee/passportInfo/${passport.getEmployee().id}|}">Паспортные данные</a></li>
							<li><a th:href="@{|/employee/contactInfo/${passport.getEmployee().id}|}">Контактные данные</a></li>
							<li><a th:href="@{|/employee/familyInfo/${passport.getEmployee().id}|}">Данные о семье</a></li>
							<li><a th:href="@{|/employee/certificateInfo/${passport.getEmployee().id}|}">Сертификаты</a></li>
							<li><a th:href="@{|/employee/competenceInfo/${passport.getEmployee().id}|}">Компетенции</a></li>
							<li><a th:href="@{|/employee/restInfo/${passport.getEmployee().id}|}">Больничный/отпуск</a></li>

						</ul>
					</div>
					<div class="col-md-9 p-0">
						<div class="tab-content">
							<div class="tab-pane fade active in">

	<div class="form-group">
		<label>ИНН</label><p th:text="${passport.inn}"
													 class="form-control" />
	</div>
	<div class="form-group">
		<label>Дата выдачи</label><p th:text="${passport.issuedDate}"
													 class="form-control" />
	</div>
	<div class="form-group">
		<label>Срок действия</label><p th:text="${passport.expiryDate}"
															 class="form-control" />
	</div>

							</div>
						</div><!-- tab-content-->
					</div>
				</div>
			</div>
				</div>
			</div>
		</section><!--section content-->
	</div> <!--div content-wrapper-->
	<footer class="main-footer" th:replace="fragments/blocks::footer"></footer>
</div> <!--div wrapper-->
</body>
</html>