<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
	<div id="status"></div>
</div>
<!-- Site wrapper -->
<div class="wrapper">
	<header class="main-header" th:replace="fragments/blocks::header"></header>
	<aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
	<div class="content-wrapper">
		<section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Добавление компетенции','Very detailed and featured admin')"></section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-bd lobidisable">
						<div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Поиск сотрудника(ов)')"></div>
						<div class="panel-body">
		<form class="col-md-8" action="#" th:action="@{/employee/commonInfo}">
			<div class="form-group">
				<label>Фамилия сотрудника</label>
				<input class="form-control" name ="surname" id="2" th:text="${surname}"/>
			</div>
			<div class="form-group">
				<label>Имя сотрудника</label>
				<input class="form-control" name ="name" id="1" th:text="${name}"/>
			</div>
			<p></p>
			<div class="form-group">
				<label>Отчество сотрудника</label>
				<input class="form-control" name ="fathername" id="3" th:text="${fathername}"/>
			</div>
			<div class="reset-button">
			<button type="submit" class="btn btn-success">Поиск</button>
			</div>
		</form>

		<div th:if="${notFound != null &amp;&amp; notFound}" style="border:1px solid red; text-align: center ; font-size: 20px; padding-top: 20px" >
			<p>
			Такой сотрудник не найден
			</p>
		</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
	</body>
</html>