<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Изменение прав пользователя','Изменение прав у пользователя')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Изменение прав пользователя')"></div>
                        <div class="panel-body">
                            <form class="col-md-6" action="#" th:action="@{/user/add}" method="post">
                                <div class="form-group">
                                    <label>ФИО</label>
                                    <select  class="form-control" th:name="user_id">
                                        <option value="">Выберите сотрудника</option>
                                        <option th:each="emp : ${employee}"
                                                th:value="${emp.id}"
                                                th:text="${emp.surname} + ' '  + ${emp.name} +' '+ ${emp.fatherName}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Права доступа</label>

                                    <select  class="form-control" th:name="role">
                                        <option value="">Выберите пользовательскую группу</option>
                                        <option th:each="urole: ${roles}"
                                                th:value="${urole.roleName}"
                                                th:text="${urole.roleName}"></option>
                                    </select>

                                </div>

                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" th:name="username" class="form-control" />

                                </div>
                                <div class="form-group">
                                    <label>Пароль</label>
                                    <input type="password" th:name="password" class="form-control" />

                                </div>



                                <div class="reset-button">
                                    <button class="btn btn-success" type="submit">Сохранить</button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>

<script>

    function showStatus() {
        document.getElementById("militarity").style.visibility = "visible";
    }
    function hideStatus() {
        document.getElementById("militarity").style.visibility = "hidden";
    }
</script>
</html>