<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/blocks::head"></head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="fragments/blocks::header"></header>
    <aside class="main-sidebar" th:replace="fragments/blocks::sidebar"></aside>
    <div class="content-wrapper">
        <section class="content-header" th:replace="fragments/blocks::panel('fa fa-dashboard','Добавление компетенции','Very detailed and featured admin')"></section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading" th:replace="fragments/blocks::buttonpanel1('Список компетенций')"></div>
                        <div class="panel-body">
        <table class="table table-hover">

            <tr class="info">
                <th>Название</th>
                <th>Описание</th>
                <th>Срок действия</th>
            </tr>

            <tr th:each="comp : ${competencelist}">
                <td th:text="${comp.name}"></td>
                <td th:text="${comp.description}"></td>
                <td th:text="${comp.validationPeriod}"></td>
            </tr>

        </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>